@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font/dist/font-face.css");
body {
  font-family: "BYekan", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #f8f8f8;
}
.main {
  width: 350px;
  height: 700px;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 25px;
  margin: 100px auto;
}
#chk {
  display: none;
}
.signup {
  width: 100%;
  height: 100%;
}
label {
  color: #573b8a;
  font-size: 4em;
  justify-content: center;
  display: flex;
  margin: 55px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 80%;
  background: #ffffff;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #3a994347;
  border-radius: 25px;
  font-size: 1.5em;
}
input[type="email"] {
  text-align: right;
}
button[type="submit"] {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #00b012;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  transition: 0.2s ease-in;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 10px;
}
button[type="submit"]:hover {
  background: #307c38;
}
.login {
  height: 800px;
  background: #00b012;
  border-radius: 60% / 10%;
  transform: translateY(-200px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #ffffff;
  transform: scale(0.6);
}
.login input[type="email"] {
  margin-top: 100px;
}
.login button[type="submit"] {
  background: #00970f;
}
.login button[type="submit"]:hover {
  background: #005709;
}
#chk:checked ~ .login {
  transform: translateY(-750px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
