<% if (errors?.length > 0) { %>
<div
  class="alert alert-danger alert-dismissible fade show d-flex rtl align-items-start justify-content-start mt-2"
  role="alert"
  style="
    direction: rtl;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  "
>
  <ul style="padding-left: 1.5rem; list-style-type: none">
    <% errors.forEach(err => { %>
    <li>
      <i
        class="bi bi-exclamation-triangle-fill"
        style="color: #ff0000; margin-left: 5px; font-size: 1.7rem;"
      ></i>
      <span class="alert-text" style="font-size: 16px; font-weight: 500;"
        ><%= err.message %></span
      >
    </li>
    <% }) %>
  </ul>
  <button
    type="button"
    class="btn-close ms-3"
    data-bs-dismiss="alert"
    aria-label="Close"
    style="position: absolute; top: 10px; left: 10px"
  ></button>
</div>
<% } %>

<!-- Script to handle close button functionality -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const closeButtons = document.querySelectorAll(".btn-close");

    closeButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        const alert = button.closest(".alert");
        if (alert) {
          alert.classList.add("fade");
          setTimeout(() => {
            alert.remove();
          }, 500);
        }
      });
    });
  });
</script>

<style>
  .alert-text {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .alert-text {
      font-size: 13px !important;
    }

    .bi-exclamation-triangle-fill {
      font-size: 1.4rem;
    }
  }
</style>
